<sidebar></sidebar>
<!-- START CONTENT -->
<section id="content">
    
    <!--breadcrumbs start-->
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Events Listing</h5>
                    <ol class="breadcrumbs">
                        <li><a href="/">Home</a></li>
                        <li class="active">Events</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    breadcrumbs end-->
    <!-- Modal Trigger -->
    <!--start container-->
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col hide-on-small-only m6"><p class="caption">Create/Edit all events and view on calender</p></div>
                <div class="input-field col s7 m5">
                    <i ng-class="{'active':focus}" class="mdi-action-search prefix"></i>
                    <input id="search" type="text" ng-model="search_events">
                    <label for="search" ng-class="{'active':focus}">Search </label>
                </div>
                <div class="col s5 m1 right">
                    <a href="#" data-activates="new-event-out" class="new-event-collapse"></a>
                    <a href="#" ng-click="openForm()" data-position="bottom" data-delay="5" data-tooltip="Add new" class="tooltipped task-add btn-floating btn-large waves-effect waves-light " style="float:right"><i class="mdi-content-add"></i></a>
                </div>
            </div>
            
            <div class="divider"></div>
            <div class="col s12">
                <div class="row">
                    <section class="plans-container" id="plans">
                        <article class="col s12  l4" ng-repeat="event in events | orderBy: '-start' | filter:search_events">
                            <div class="card hoverable">
                                <div class="card-image reddish-lightdark waves-effect">
                                    <div class="card-title">{{event.title}}</div>
                                    <div class="price">
                                        <i ng-if="event.icon" class="{{event.icon}} icon white-text small"></i>
                                        <i ng-if="!event.icon" class="mdi-notification-event-note icon white-text small"></i>
                                    </div>
                                    <div class="price-desc">{{event.start | UTCToNow}}</div>
                                </div>
                                <div class="card-content">
                                    <ul class="collection" ng-if="event.description">
                                        <li class="collection-item"><p class="truncate grey-text ultra-small">{{event.description}}</p></li>
                                    </ul>
                                    <ul class="collection" ng-if="!event.description">
                                        <li class="collection-item">
                                            <p class="truncate grey-text ultra-small">Here wil come the events description or notes.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-action center-align">
                                    <button class="waves-effect waves-light  btn" ng-click="editEvent(event)">Edit</button>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
                <aside id="right-sidebar-nav">
                    <ul id="new-event-out" class="side-nav events-side-navigation">
                        <li class="li-hover">
                            <a href="#" data-activates="new-event-out" class="new-event-close-collapse right"><i class="mdi-navigation-close"></i></a>
                            <div id="right-search" class="row">
                                <div class="col s12 m12 l12">
                                    <div>
                                        <!-- <h4 class="header2 center" ng-bind="newEvent.edate | date:'MMM, D dddd'"></h4>
                                        <div class="m-b-20 center">
                                            <i class="mdi-image-timer"></i>
                                            <label for="edate" style="cursor:pointer"> Change Date</label>
                                            <input style="display:none;" type="date" id="edate" class="datepicker" ng-model="newEvent.today" />
                                        </div> -->
                                        <div class="row">
                                            <form class="col s12" name="event" ng-submit="saveEvent()">
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i ng-class="{'active':focus}" class="mdi-editor-mode-edit prefix"></i>
                                                        <input id="title" type="text" focus="{{focus}}" class="validate" name="title" ng-model="newEvent.title">
                                                        <label for="title" ng-class="{'active':focus}">Title</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12 ">
                                                        <i class="mdi-editor-insert-invitation prefix"></i>
                                                        <label for="sdate" > Start Date</label>
                                                        <input  type="text" id="sdate" class="datepicker" ng-model="newEvent.start "  />
                                                    </div>
                                                    <div class="input-field col s12 ">
                                                        <i class="mdi-editor-insert-invitation prefix"></i>
                                                        <label for="edate"> End Date</label>
                                                        <input type="text" id="edate" class="datepicker" ng-model="newEvent.end " />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s6">
                                                        <i class="mdi-image-timer prefix"></i>
                                                        <label for="input_starttime">Start Time</label>
                                                        <input id="input_starttime" class="timepicker" type="text" ng-model="newEvent.starttime">
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <i  class="mdi-image-timer prefix"></i>
                                                        <label for="input_endtime">End Time</label>
                                                        <input id="input_endtime" class="timepicker" type="text" ng-model="newEvent.endtime">
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="input-field col s6">
                                                        <i class="mdi-repeat prefix"></i>
                                                        <select class="" ng-model="newEvent.repeatEvery" material-select watch>
                                                            <option value="" disabled selected>Repeat every</option>
                                                            <option ng-repeat="val in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"
                                                            value="{{val}}" class="circle">{{val}}</option>
                                                            
                                                        </select>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <i class="mdi-repeat prefix"></i>
                                                        <label for="input_endtime"></label>
                                                        <select class="" ng-model="newEvent.repeatCount" material-select watch>
                                                            <option value="" disabled selected></option>
                                                            <option ng-repeat="val in ['Once', 'Days', 'Weeks', 'Months']"
                                                            value="{{val}}" class="circle">{{val}}</option>
                                                            
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="input-field col s6 ">
                                                        <i class="mdi-blank prefix"></i>
                                                        <label for="input_time_interval">Time Interval</label>
                                                        <input id="input_time_interval" type="text" ng-model="newEvent.timeInterval">
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <i  class="mdi-blank prefix"></i>
                                                        <label for="input_seats">Seats</label>
                                                        <input id="input_seats" class="timepicker" type="text" ng-model="newEvent.seats">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <i class="mdi-editor-mode-edit prefix"></i>
                                                        <textarea id="description" name="description" ng-model="newEvent.description" class="materialize-textarea validate" length="120"></textarea>
                                                        <label for="description">Description</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s10">
                                                        <i class="mdi-editor-format-color-fill prefix"></i>
                                                        <input color-picker type="text" id="input_color" ng-model="newEvent.className" readonly="true" />
                                                        <label for="input_color" >Color</label>
                                                    </div>
                                                    <div class="input-field col s1">
                                                        <label class="btn-floating" ng-class="newEvent.className"></label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col s10">
                                                        <i class="mdi-image-photo prefix"></i>
                                                        <select class="" ng-model="newEvent.icon" material-select watch ng-change="changeIcon()">
                                                            <option value="" disabled selected>Select Event Icon</option>
                                                            <option value="mdi-action-redeem" class="circle">BirthDay</option>
                                                            <option value="mdi-action-settings-phone" class="circle">Do call</option>
                                                            <option value="mdi-action-shopping-basket" class="circle">Go Market</option>
                                                            <option value="mdi-action-theaters" class="circle">Movie</option>
                                                            <option value="mdi-action-info"  class="circle">Info</option>
                                                            <option value="mdi-alert-warning" class="circle">Warning</option>
                                                            <option value="mdi-action-event" class="circle">Event</option>
                                                            
                                                        </select>
                                                    </div>
                                                    <div class="input-field col s1">
                                                        <label class="btn-floating" ng-class="newEvent.className">
                                                            <i class="mdi-action-theaters" ng-if="newEvent.icon ==='mdi-action-theaters'"></i>
                                                            <i class="mdi-action-shopping-basket" ng-if="newEvent.icon ==='mdi-action-shopping-basket'"></i>
                                                            <i class="mdi-action-settings-phone" ng-if="newEvent.icon ==='mdi-action-settings-phone'"></i>
                                                            <i class="mdi-action-redeem" ng-if="newEvent.icon ==='mdi-action-redeem'"></i>
                                                            <i class="mdi-action-info" ng-if="newEvent.icon ==='mdi-action-info'"></i>
                                                            <i class="mdi-alert-warning" ng-if="newEvent.icon ==='mdi-alert-warning'"></i>
                                                            <i class="mdi-action-event" ng-if="newEvent.icon ==='mdi-action-event'"></i>
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                                <!--<div class="row">
                                                    <div class="input-field col s10">
                                                        <i class="mdi-image-colorize prefix"></i>
                                                        <select ng-model="newEvent.className" material-select watch>
                                                            <option value="" disabled selected>Select Event Color</option>
                                                            <option value="yellow"  class="light-green">Yellow</option>
                                                            <option value="green" class="circle">Green</option>
                                                            <option value="red" class="circle">Red</option>
                                                        </select>
                                                        
                                                    </div>
                                                    <div class="input-field col s1">
                                                        <label style="background-color: #676A6B;" class="btn-floating" ng-if="!newEvent.className"></label>
                                                        <label class="btn-floating red darken-4" ng-if="newEvent.className ==='red'"></label>
                                                        <label class="btn-floating yellow darken-4" ng-if="newEvent.className ==='yellow'"></label>
                                                        <label class="btn-floating green darken-4" ng-if="newEvent.className ==='green'"></label>
                                                    </div>
                                                </div>-->
                                                <div class="row">
                                                    <div class="input-field col s12">
                                                        <input type='checkbox' id='event-allday' ng-model="newEvent.allDay" />
                                                        <label for='event-allday'>allDay?</label>
                                                    </div>
                                                </div>
                                                </div>
                                                    <div class="col offset-s3 s9">
                                                        <button class="btn  waves-effect waves-light"  type="submit" name="action">Save
                                                        <i class="mdi-content-send right"></i>
                                                        </button>
                                                        <button class="btn waves-effect waves-light" type="button" ng-click="deleteEvent()">
                                                        <i class="mdi-action-delete"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row small-group" ng-if="newEvent.createdAt">
                                                    <div class="col s8 offset-s1"><span>{{newEvent.User.name}} created @{{newEvent.createdAt | date : 'dd/MM/yyyy hh:mm a'}}</span></div>
                                                    <div class="col s8 offset-s1"><span>{{newEvent.User.name}} updated @{{newEvent.updatedAt | date : 'dd/MM/yyyy hh:mm a'}}</span></div>
                                                </div>
                                                <div class="row small-group" ng-if="!newEvent.createdAt">
                                                    <div class="col s8 offset-s1"><span>{{userInfo.user}} createdAt @{{userInfo.createdDate | date : 'dd/MM/yyyy hh:mm a'}}</span></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </aside>
                <!-- LEFT RIGHT SIDEBAR NAV-->
            </div>
        </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.4.0/pikaday.min.js"></script>
<!--<script type="text/javascript" src="assets/js/perfect-scrollbar/perfect-scrollbar.min.js"></script>-->
<script>

$(document).ready(function(){
    $('#sdate').pickadate({
        container: 'body',
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        onClose: function(){
            $(document.activeElement).blur()
        }
    });
    $('#edate').pickadate({
        container: 'body',
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        onClose: function(){
            $(document.activeElement).blur()
        }
    });

    $('#input_starttime').pickatime({
        twelvehour: true,
        container: 'body'
    });
    $('#input_endtime').pickatime({
        twelvehour: true,
        container: 'body'
    });
});
    </script>