<div class="container settings-container">
    <a href="#" data-activates="settings-out" class="settings-out-close right"><i class="mdi-navigation-close"></i></a>
    <div class="row">
        <div class="col-sm-12">
            <h1>Profile</h1>
        </div>
        <div class="col-sm-12">
           <table class="hightlight">
                <tbody>
                  <tr>
                    <td>External ID</td>
                    <td>A00000</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td>Jellybean@ptcwizard.com</td>
                  </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                    mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ vm.errors.other }}
                     </p>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                    ng-minlength="3"
                    required/>
                    <p class="help-block"
                        ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                    match="vm.user.newPassword"
                    ng-minlength="3"
                    required=""/>
                    <p class="help-block"
                        ng-show="form.confirmPassword.$error.match && vm.submitted">
                        Passwords must match.
                    </p>
                </div>
                <p class="help-block"> {{ vm.message }} </p>
                <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
            </form>
        </div>

        <div class="col-sm-12">
            <table class="hightlight">
                <thead>
                    <tr>
                        <td data-field="parent">Parent</td>
                        <td data-field="children">Children</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Marina Stepan</td>
                        <td>Chavi Spaeth ren</td>
                    </tr>
                    <tr>
                        <td>Chavi Spaeth jen</td>
                        <td>Jane Ellman</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <!-- <div>
                <img src="/assets/images/logo_calendar_32px.png">
                <div>Calendar Connected</div>
            </div> -->
            <p>
                <input type="checkbox" id="has_calendar" checked/>
                <label for="has_calendar">Calendar connected
                </label>
            </p>
        </div>
    </div>
</div>